extends layout

block content
  h1= title

  - let items = results

  each item in items
    .container-fluid
      .row
        .col-sm-2
          h3= item.name
          p Weight: #{item.weight}
          p Price: $#{item.price}
