extends layout 
block content 
    h1 = title 

    form(id='PastaForm', action="/resource/pastas", method="POST")
        .form-group     
            label.pastaAttr(for='name') Pasta Name 
            input#name(type='text', name='name')
        .form-group 
            label.pastaAttr(for='weight') Pasta Weight 
            input#weight(type='text', name='weight')
        .form-group     
            label.pastaAttr(for='price') Pasta Price 
            input#price(type='number', name='price')
        input(type="submit")

script.
    document.forms['PastaForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show user that form is being submitted
        fetch(event.target.action, {
            method: 'POST',
            body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
            return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
            alert("Save succeded")
        // TODO handle body
        }).catch((error) => {
        // TODO handle error
        alert("Save failed " + error )
      });
    });