extends layout 

block content 
    h1 = title 

    - let pastaid = toShow._id 
    - let name = toShow.name 
    - let weight = toShow.weight 
    - let price = toShow.price 
    div 
        div.row 
            div(class='pastaAttr mr-3') Pasta ID is: 
            div #{pastaid} 
        div.row
            div(class='pastaAttr mr-3') Pasta Name is: 
            div #{name}
        div.row
            div(class='pastaAttr mr-3') Pasta Weight is: 
            div #{weight}
        div.row
            div(class='pastaAttr mr-3') Pasta Price is: 
            div #{price}