extends layout 

block content 
    h1 = title 

    - let pastaid = toShow._id 
    - let pastaname = toShow.name 
    - let pastaweight = toShow.weight 
    - let pastaprice = toShow.price 

    div.row(class='mb-2')
        div.mr-1 ID is 
        div #{pastaid}
        - let actionid= "/resource/pastas/" + costumeid 
    form(id='PastaForm', action="/resource/pastas", method="POST")
        .form-group     
            label.pastaAttr(for='name') Pasta Name 
            input#name(type='text', name='name')
        .form-group 
            label.pastaAttr(for='weight') Pasta Weight 
            input#weight(type='text', name='weight')
        .form-group     
            label.pastaAttr(for='price') Pasta Price 
            input#price(type='number', name='price')
        input(type="submit")

script.
    document.forms['PastaForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        fetch(event.target.action, {
            method: 'PUT',
            body: new URLSearchParams(new FormData(event.target)) 
        }).then((resp) => {
            return resp.json(); 
        }).then((body) => {
            alert("Save succeded")
        }).catch((error) => {
        alert("Save failed " + error )
      });
    });